%h1
  = t "chemistry.headings.page_categories"
  = link_to chemistry.new_page_category_url, class: "add addendum" do
    %svg.icon
      %use{href: "/chemistry-sprite.svg#cms_plus_button"}

%p.intro
  = t "chemistry.introductions.page_categories"

%ul.page_categories
  %li.page_category
    = link_to chemistry.pages_url class: "show" do
      %h3
        = t "chemistry.uncategorised_pages"
      %p.note
        = t "chemistry.pages_count", count: Chemistry::Page.uncategorised.count

  = render partial: "chemistry/page_categories/listed",  collection: @page_categories

