- cancel_url = @page_collection.new_record? ? main_app.dashboard_url : chemistry.page_collection_home_path(@page_collection.slug)

= form_for @page_collection, html: {class: 'standard page_collection'} do |f|

  #basics
    %p
      = f.label :title, class: "required"
      = f.text_field :title, class: "title full", placeholder: t("placeholders.page_collection.title"), required: true

    %p
      = f.label :short_title
      = f.text_field :short_title, class: "short_title full", placeholder: t("placeholders.page_collection.short_title")
      %span.note
        This can be used for linking in tight spaces. It defaults to a possibly truncated form of the full title.

    %p
      = f.label :slug, class: "required"
      = f.text_field :slug, class: "slug full", placeholder: t("placeholders.page_collection.slug"), required: true
      %span.note
        Links to pages in this collection will always take the form /collection_slug/page_slug.
        A slug will be derived from the collection title if none is given.
        If you change this then external links will break. Consider adding a redirect from the old slug/* to the new.

    .edit_text
      = f.label :introduction
      = f.text_area :introduction, class: "introduction long", placeholder: t("placeholders.page_collection.introduction")

  .buttons 
    = f.submit t(:save_collection), class: 'save button'
    = link_to t(:cancel_edit), cancel_url, class: "cancel button"
