- page_collection ||= listed ||= @page_collection
- minimal ||= false
- highlights ||= nil

%li.page_collection{id: "page_collection_#{page_collection.id}"}
  %h3
    = link_to chemistry.page_collection_url(page_collection), class: "show" do
      = strip_tags(page_collection.title)
    - if can?(:edit, page_collection)
      = link_to chemistry.edit_page_collection_url(page_collection), class: "edit" do
        %svg.icon
          %use{href: "/chemistry-sprite.svg#cms_edit_button"}
  %p.note
    = t "chemistry.pages_count", count: page_collection.pages.count
