- listed ||= nil
- page ||= listed || @page
- minimal ||= false
- highlights ||= nil

%li.page{id: "page_#{page.id}"}
  - if can?(:edit, page)
    = link_to chemistry.edit_page_path(page.id), class: "edit" do
      %svg
        %use{href: "#edit_button_symbol"}
    
  = link_to chemistry.published_page_url(page.path), class: "show" do
    - if page.thumbnail_url
      %span.image{style: "background-image: url(#{page.thumbnail_url});"}
    - else
      %span.no_image

    %span.detail
      %span.title
        - if highlights && highlights[:title].present?
          = highlights[:title].html_safe
        - else
          = strip_tags(page.title)

      - if page.published_at
        %time
          = l Date.parse(page.published_at), format: :natural
      - unless minimal
        %span.excerpt
          - if highlights && highlights[:content].present?
            = highlights[:content].html_safe
          - else
            - excerpt = page.summary.presence || page.excerpt.presence || ""
            = shorten(strip_tags(excerpt).gsub('&nbsp;', ' '), 400)