- collection ||= @pages
- link_params = @params.to_h
- link_params[:sort] = @sort if @sort && @sort != "_score"

%h3
  Options

%p.options
  - if collection.total_count <= 10
    Showing all
    = collection.total_count
    matches
  - else
    Show:
    = link_to "20", chemistry.archive_url(link_params.merge(pp: 20)), class: @per_page == 20 ? "here" : ""
    - if collection.total_count > 50
      = link_to "50", chemistry.archive_url(link_params.merge(pp: 50)), class: @per_page == 50 ? "here" : ""
    - if collection.total_count > 100
      = link_to "100", chemistry.archive_url(link_params.merge(pp: 100)), class: @per_page == 100 ? "here" : ""
    = link_to "all (#{collection.total_count})", chemistry.archive_url(link_params.merge(pp: "all")), class: @per_page == "all" ? "here" : ""
  %br
  Sort:
  = link_to "Title", chemistry.archive_url(link_params.merge(sort: "title")), class: @sort == "title" ? "here" : ""
  = link_to "Date", chemistry.archive_url(link_params.merge(sort: "date")), class: @sort == "date" ? "here" : ""
  - if @q.present?
    = link_to "Score", chemistry.archive_url(link_params.merge(sort: "_score")), class: @sort == "_score" ? "here" : ""
  %br
  %a{href: chemistry.archive_url(link_params.except(:p, :pp, :sort, :page_category, :page_collection, :date_from, :date_to))}
    Reset sort and filters
