- liker ||= nil
- social_link ||= liker
- platform = social_link.platform

%a{class: platform}
  %svg.icon
    %use{"xlink:href" => "##{platform}_symbol"}
  %span.label
    - if platform == 'facebook'
      Like
      = social_link.name.presence || social_link.url
      on facebook
    - else
      Follow
      = "@#{social_link.url}"
      on
      = platform
