- page ||= search_result || @page

%li.page{id: "page_#{page['id']}"}
  = link_to chemistry.edit_page_url(page['id']) do
    - if page['display'] && page['display']['image_url']
      = image_tag page['display']['image_url'], class: "thumb", title: page['display']['caption']
    - else
      %span.no_image
        %svg
          %use{href: "#image_symbol"}

    .detail
      %h3
        - if page['display'] && page['display']['title'].present?
          = page['display']['title']
        - elsif page['title'].present?
          = page['title']
        - else
          Unmigrated page
      %p
        - if page['display']['content'].present?
          = truncate(page['display']['content'], length: 128)
        - else
          Content not yet available.