- if @view
  = render "chemistry/pages/edit/config"

- else
  = form_for(@page, html: {class: "standard"}) do |f|
    %span.image
      %svg
        %use{href: "#add_symbol"}
    %span.detail
      = f.hidden_field :page_collection_id
      = f.text_field :title, class: "title", placeholder: t("chemistry.placeholders.page.title"), autofocus: true
      = f.submit "start"