- page ||= @page
- publishing ||= false

- rendered_title = page.render(:published_title)
- rendered_masthead = page.render(:published_masthead)
- rendered_content = page.render(:published_content)

- content_for :head do
  %meta{property: "og:title", content: page.render_and_strip_tags(:published_title)}
  %meta{property: "og:description", content: page.render_and_strip_tags(:published_excerpt).presence || Chemistry.config.site_description}
  - if page.home?
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: chemistry.home_page_url(host: Chemistry.config.site_host)}
  - else
    %meta{property: "og:type", content: "article"}
    %meta{property: "og:url", content: chemistry.published_page_url(page.path, host: Chemistry.config.site_host)}
  %meta{property: "og:image", content: page.image_url.presence || Chemistry.config.site_image_url}
  %meta{property: "og:site_name", content: Chemistry.config.site_name}
  - if Chemistry.config.site_twitter.present?
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: Chemistry.config.site_twitter}
  - if page.user && page.user.respond_to?(:twitter) && page.user.twitter.present?
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:creator", content: page.user.twitter}


%main{class: page.home? ? "home" : "page"}
  #cms_illustration
    - if rendered_masthead.present?
      = sanitize(rendered_masthead, scrubber: Chemistry::ContentScrubber.new)
    - if rendered_title.present?
      %h1.pagetitle
        = sanitize(rendered_title, scrubber: Chemistry::InlineScrubber.new)

  #cms_body
    - if rendered_title.present?
      #cms_title
        %h1.pagetitle
          - if pc = page.page_collection
            %a.breadhead{href: chemistry.page_collection_home_url(pc.slug)}
              = pc.title
          - elsif pp = page.parent
            - if pp.home?
              %a.breadhead{href: chemistry.home_page_url}
                = pp.title
            - else
              %a.breadhead{href: chemistry.published_page_url(pp.path)}
                = pp.title

          = sanitize(rendered_title, scrubber: Chemistry::InlineScrubber.new)
  
    - if rendered_content.present?
      - if page.section_head?
        .pages.aside{data: {page: page.id, content: "children", place: "p2"}}
      - elsif !page.home?
        .pages.aside{data: {page: page.id, content: "siblings", place: "p2"}}

      #cms_content
        = sanitize(rendered_content, scrubber: Chemistry::ContentScrubber.new)

- if Chemistry.config.show_edit_buttons?
  #buttons{data: {page: page.id}}
