- rendered_title = @page.render(:published_title)
- rendered_masthead = @page.render(:published_masthead)
- rendered_content = @page.render(:published_content)

- content_for :head do
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:title", content: @page.render_and_strip_tags(:published_title)}
  %meta{property: "og:description", content: @page.render_and_strip_tags(:published_excerpt).presence || Chemistry.config.site_description}
  %meta{property: "og:url", content: @page.permalink}
  %meta{property: "og:image", content: @page.image_url.presence || Chemistry.config.site_image_url}
  %meta{property: "og:site_name", content: Chemistry.config.site_name}
  %meta{name: "twitter:card", content: "summary"}
  - if Chemistry.config.site_twitter.present?
    %meta{name: "twitter:site", content: Chemistry.config.site_twitter}
  - if @page.user && @page.user.respond_to?(:twitter) && @page.user.twitter.present?
    %meta{name: "twitter:creator", content: @page.user.twitter}


%main
  #cms_illustration
    - if rendered_masthead.present?
      = sanitize(rendered_masthead, scrubber: Chemistry::ContentScrubber.new)
    - if rendered_title.present?
      %h1.pagetitle
        = sanitize(rendered_title, scrubber: Chemistry::InlineScrubber.new)

  #cms_body
    - if rendered_title.present?
      #cms_title
        %h1.pagetitle
          - if pc = @page.page_collection
            %a.breadhead{href: chemistry.page_collection_home_url(pc.slug)}
              = pc.title
          = sanitize(rendered_title, scrubber: Chemistry::InlineScrubber.new)
  
    - if rendered_content.present?
      #cms_content
        = sanitize(rendered_content, scrubber: Chemistry::ContentScrubber.new)

#buttons{data: {page: @page.id}}
