- content_for :body_class do
  = "archive"

- content_for :title do
  = t(:archive_and_search)

#cms_illustration
  .search_results
    #blurb.standfirst
      %p
        - if @q.present?
          - if @page_collection
            = t("chemistry.search_in_context_summary", count: @pages.total_count, query: @q, context: @page_collection.short_title).html_safe
          - else
            = t("chemistry.search_summary", count: @pages.total_count, query: @q).html_safe

    %ul.pages.archive
      - if @pages.any?
        - if @pages.current_page > 1
          .pagination.upper
            = paginate @pages, params: {format: nil}

        - if @q
          - @pages.with_highlights.each do |page, highlights|
            = render "chemistry/pages/search/listed", page: page, highlights: highlights
        - else
          = render partial: "chemistry/pages/search/listed", collection: @pages

        .pagination.lower
          = paginate @pages, params: {format: nil}

#cms_body
  #cms_title
    %h1.pagetitle
      - if @page_collection
        %a{href: chemistry.page_collection_home_url(@page_collection.slug)}
          = @page_collection.short_title + ':'
      = t(:archive_and_search)

  %form#browser.faceter.standard{:action => chemistry.archive_url}
    = hidden_field_tag :p, params[:p]
    = hidden_field_tag :pp, params[:pp]
    = hidden_field_tag :sort, params[:sort]

    %fieldset.search<
      = text_field_tag :q, @q, name: 'q', class: 'search', placeholder: t(:search), data: {slow: true}
      %a.button.submit>
        %svg.icon
          %use{"xlink:href" => "#search_symbol"}

    .toggle
      = link_to "▾ more options", '#', class: "select", data: {alt: "▴ fewer options"}

    .list_control
      .col
        = render "chemistry/pages/search/facet", facet: "page_category", heading: t("chemistry.faceter.page_categories")
      .col
        = render "chemistry/pages/search/options"
      .full
        = render "chemistry/pages/search/facet", facet: "page_collection", heading: t("chemistry.faceter.page_collections")
      .full
        = render "chemistry/pages/search/dates", heading: t("faceter.dates")

